body {
    background: black;
}

label {
    color: white;
    font-family: "Audiowide", sans-serif;
}

button {
    font-family: "Audiowide", sans-serif;
}

footer {
    position:sticky;
}

.formDiv {
    margin: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    padding: .5em;
    font-size: 45px;
    background: -webkit-linear-gradient(rgb(25, 255, 4), rgb(172, 4, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

